<%= render 'layouts/explanationnav'%>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-12">
      <h2>Good Question</h2>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-sm-12">
      <p>You Serve The Sounds, We Serve The Suds.</p>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-sm-12 explanation-text">
      <p>Throughout the ages, wine has been used to bring out the flavors</p>
      <p>of cheese, fruits, meats, and other delectable foods.</p>
      <p>But what about Music?</p>
      <p>Everyone enjoys music in some form or the other,</p>
      <p>and we here at HOPSIFY believe that the enjoyment of music</p>
      <p>can be augmented not just through beer,</p>
      <p>but through the RIGHT beer for the RIGHT song.</p>
      <p>HOPSIFY pairs your favorite music with the perfect beer.</p>
      <p>That's it.</p>
      <p>Powered by the <a href="https://developer.spotify.com/web-api/" target="_blank">Spotify</a>
        and <a href="http://www.brewerydb.com/" target="_blank">BreweryDB </a>APIs as well as careful</p>
      <p>reference to <a href="http://everynoise.com/everynoise1d.cgi?scope=all">Every Noise At Once</a>
        HOPSIFY is the only site</p>
      <p>that respects your tastebuds and taste in music.</p>
      <p>So go ahead, find a new perfect beer to sip on while you</p>
      <p>play your favorite song.</p>
    </div>
  </div>
</div>
