.beer-glass > img
  background-color: #FFCA5A
  margin: 0 auto
  width: 256px
  height: 256px

.choose-beer-form
  border: 1px solid #000
  text-align: left

.choose-beer-form > div > form
  width: 100%
  border: 1px solid #DC143C

.form-holder
  width: 60%
  margin-left: 28%

.form-holder > form > label
  margin: 5px

.form-holder > form > input:last-child
  margin: 15px

@media only screen and (max-width: 770px)
  .form-holder > form > label,
  .form-holder > form > input
    display: inline
    margin: 5px
    font-size: 13px

  .form-holder
    width: 80%

@media only screen and (max-width: 500px)
  .choose-beer-form > div > form
    width: 100%
    border: 1px solid #FFFF00

  .form-holder
    width: 100%
    margin-left: 0
