h1,
h2,
h3,
a,
button
  font-family: 'Raleway', sans-serif

p,
input
  font-family: 'Cantarell', sans-serif


.logo-container
  width: 200px
  height: 200px
  border: 1px solid #000
  padding: 10px

.logo-container > img
  max-width: 75%
  max-height: 75%


.beer-logo
  margin-top: -160px
  margin-left: 30px
  opacity: 0.8
  // -ms-transform: rotate(-5deg)
  // -webkit-transform: rotate(-5deg)
  // transform: rotate(-5deg)
