h1,
h2,
h3,
a,
button
  font-family: 'Raleway', sans-serif

p,
input
  font-family: 'Cantarell', sans-serif

.beer-logo
  margin-left: -250px
  opacity: 0.8
  // -ms-transform: rotate(-20deg)
  // -webkit-transform: rotate(-20deg)
  // transform: rotate(-20deg)
