#body-overrides
  background: #000
  color: #fff
  padding: 10px


h1,
h2,
h3,
a,
button
  font-family: 'Raleway', sans-serif

p,
input,
label
  font-family: 'Cantarell', sans-serif

input,
a
  color: #000

.nav-links > a,
.nav-links > h3 > a,
.nav-links > a:hover,
.nav-links > h3 > a:hover,
.nav-links > a:focus,
.nav-links > h3 > a:focus,
  text-decoration: none
  color: #fff
  outline: none



.logo-container
  width: 200px
  height: 200px
  border: 1px solid #000
  padding: 10px
  margin: 0 auto

.logo-container > img
  max-width: 75%
  max-height: 75%

.logo-container:hover > img
  opacity: 0.7

.root-tag,
.root-tag:hover,
.root-tag:focus
  text-decoration: none
  color: inherit
  outline: none



.beer-logo
  margin-top: -160px
  margin-left: 30px
  opacity: 0.8
  // -ms-transform: rotate(-5deg)
  // -webkit-transform: rotate(-5deg)
  // transform: rotate(-5deg)

.explanation-text
  font-size: 20px

.explanation-text > p > a
  color: #6AE368
  text-decoration: none

.explanation-text > p > a:hover,
.explanation-text > p > a:focus
  color: #92f490
  text-decoration: none
  outline: none

.gen-btn > form > input,
  background: #000
  color: #6AE368
  border: 1px solid #000
  padding: 5px

.gen-btn > form > input:hover
  border: 1px solid #6AE368

.link-holders > a
  color: #5891e8
  font-size: 17px

.link-holders > a:hover
  color: #8caee2
  padding: 5px
  border: 1px solid #8caee2
  text-decoration: none
