.song-form > form > p > input:focus
  outline: none
.song-form > form > p > input
  padding: 5px 10px
  width: 30%

.song-form > form > p:last-child > input
  width: 10%

.artist-img
  max-width: 300px
  max-height: 300px
  border: 1px solid #000
  border-radius: 50%
  opacity: 0.6

.song-stats-container
  border: 1px solid #6AE368

.song-stats-container > .col-sm-3
  color: #6AE368
  font-size: 15px
  font-family: "Raleway", sans-serif
  padding: 10px
