<nav class="text-center">
  <div class="logo-container">
    <h4>HOPSIFY</h4>
    <%= image_tag("spotify-logo.png")%>
    <%= image_tag("transparent_bottle.png", :class => "beer-logo")%>
  </div>

</nav>
