

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-sm-4">
      <h3>What is this?</h3>
    </div>
    <div class="col-sm-4">
      <nav class="text-center">
        <a href="/" class="root-tag">
        <div class="logo-container">
          <h4>HOPSIFY</h4>
          <%= image_tag("spotify-logo.png")%>
          <%= image_tag("transparent_bottle.png", :class => "beer-logo")%>
        </div>
        </a>
      </nav>
    </div>
    <div class="col-sm-4">
      <h3>Let's Roll, Dude</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
</div>
