<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-styles text-center">
      <a class="nav-item nav-link" href="http://www.petertasc.io/" target="_blank"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="https://github.com/ptascio" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/notifications/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a class="nav-item nav-link" href="https://angel.co/" target="_blank"><i class="fa fa-angellist" aria-hidden="true"></i></a>
    </div>
  </div>
</nav>
